* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
    transition: 0.35s;
  
}

html, body {
    width: 100vw;
    height: 100vh;
}

.bg-black{
    background-color: black;
    color: white;
}

.logo{
    width: 50px;
    animation: spin 0.3s alternate-reverse ;
    
}
.logohead{
    font-size: 23px;
    color: rgb(90, 162, 90);
}
.navbar{
    position: absolute;
    width: 100%;
    padding: 15px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.right{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.right::-webkit-scrollbar{
    width: 6px;
}

.right::-webkit-scrollbar-track{
    background: rgb(20, 20, 20);
}

.right::-webkit-scrollbar-thumb{
    background: rgb(48, 47, 47);
    border-radius: 10px;
}

.play-button{
    width: 57px;
    height: 57px;
}
.music-player{
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 14vh;
    background-color: #201f1f;
    padding: 10px;
    
}

.control-action{
    height: 24%;
    background-color: #201f1f;
    
}
.controls{
    padding: 10px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
}
.control-1 span{
    font-size: 43px;
}
.seek-bar{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    
}

.player-bar{
    /* border: 2px solid white; */
    background-color: white;
    position: absolute;
    width: 90%;
    border-radius: 55px;
    height: 6px;
    transition: left 0.5s;
    
}
.circle{
    width: 15px;
    height: 15px;
    /* border: solid 2px white; */
    border-radius: 50px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0%;
    transition: left 0.5s;

}

.playlist{
    margin-top: 75px;
    margin: 75px;
    align-items: center;
    justify-content: center;
    
}


.list-playlist{
    /* display: flex; */
    /* height: 20%; */
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* justify-content: space-evenly; */
    /* background-image: linear-gradient(to bottom, green top, black ); */

}

.card{
    height: 230px;
    aspect-ratio: 1/1;
    padding: 20px;
    
    background-color: #1a1919;
    border-radius: 20px;
    margin-bottom: 18px;
    overflow: hidden;
}

.inner-card{
    height: 141px;
    background-image: url('img/jubinwebp');
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
    background-position: top;
    border-radius: 10px;
}

.card-title{
    height: 54px;
    text-align: center;
    padding: 1px;
    background-color: transparent;
}

.card-title *{
    margin-top: 5px;
}

.card-play{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 229px;
    background-color: rgb(5, 172, 5);
    cursor: pointer;
    margin: 8px;
    
}
/* Hover props */
.card:hover{
    background-color: #201f1f;
    transition:  0.5s ease-in-out;

}
.card:hover .card-play{
    opacity: 1;
    transition:  0.5s ease;
    animation: spin 0.3s alternate-reverse ;
}

.card:hover .card-play:hover {
    transform: scale(1.1);
    transition:  0.5s ease-in-out;
    
    

}
.card:hover{
    transform: scale((1.2));
}



/* media query */
@media screen and (max-width: 600px){
    .controls{
        font-size: 20px;
    }
    .controls .Running{
        font-size: 10px;
    }
    .control-1 span{
        font-size: 30px;
    }
    .song{
        width: 100%;
        flex:none;
    }
    .playlist h2{
        font-size: 21px;
    }
    .right{
        padding-right: 50%;
    }
}


