.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid green;
    margin: 2px;
}

.p-1{
    padding: 10px;
}

.inc-size{
    font-size: 50px;
}